* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  letter-spacing: 0em;
}
body {
  background: #181719;
  color: #ffffff;
  margin: 46px 77px 24px 77px;
}

@media (min-width: 768px) {
  div.NavIcon {
    display: none;
  }
  header {
    margin-top: 77px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
  }
  h1.BrandName {
    width: 102px;
    height: 32px;
    border: 1px solid #ffffff;
    font-family: Crimson Pro;
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  nav.NavBar {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  nav.NavBar > a {
    display: block;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color: #ffffff;
  }
  section.AboutBrand {
    display: flex;
    justify-content: space-around;
  }
  div.AboutContent > h1 {
    font-family: Lora;
    font-size: 48px;
    font-weight: 500;
    line-height: 61px;
    margin-bottom: 40px;
  }
  div.AboutContent > p {
    font-family: Montserrat;
    font-size: 24px;
    margin-bottom: 48px;
    font-weight: 400;
    line-height: 29px;
  }
  div.AboutContent > a {
    display: block;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #ffffff;
  }
  div.AboutImage > img.BrandImage {
    width: 50vw;
    height: auto;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  div.Creator {
    background: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  img.DesignerImage {
    float: left;
    border-radius: 50%;
    width: 50px;
    height: auto;
    margin: 12px 12px 12px 12px;
  }
  div.CreatorProfile > p:nth-of-type(1) {
    font-family: Montserrat;
    font-size: 14px;
    margin-top: 23px;
    font-weight: 500;
    line-height: 17px;
  }
  div.CreatorProfile > p:nth-of-type(2) {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
  }

  div.AboutImage {
    position: relative;
  }
  div.Creator {
    position: absolute;
    top: 80%;
    left: 40%;
    width: 410px;
    height: 189px;
  }
  div.Creator > p {
    font-family: Lora;
    font-size: 24px;
    clear: both;
    font-weight: 700;
    line-height: 31px;
    margin-top: 30px;
    margin-left: 12px;
    width: 287px;
    height: 62px;
  }

  footer {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 230px;
    text-align: center;
    color: #a9a9a9;
  }
}
@media (max-width: 768px) {
  div.NavIcon > p {
    border: 1px solid #f2f2f2;
    margin-bottom: 3px;
    width: 18px;
    transition: 1s;
  }
  div.NavIcon2 > p:nth-child(1) {
    border: 1px solid #f2f2f2;
    width: 18px;
    transform: rotate(49deg);
    transition: 2s;
    width: 25px;
  }
  div.NavIcon2 > p:nth-child(3) {
    border: 1px solid #f2f2f2;
    width: 18px;
    transform: rotate(-50deg);
    transition: 2s;
    width: 25px;
  }
  body {
    margin: 12px 12px 24px 12px;
  }

  @keyframes NavMenu {
    from {
      transform: translate(-100%, -100%);
      border-radius: 50%;
    }
    to {
      transform: translate(0px, 0px);
      border-radius: 0px;
    }
  }
  @keyframes NavMenu2 {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }
  nav.NavBar {
    display: none;
    animation: NavMenu2 2s 1;
    transform: translateY(-100%);
    transition: 2s;
  }
  nav.NavBar2 {
    display: flex !important;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;
    background: #181719;
    width: 100vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top: 45px;
    animation: NavMenu 2s 1;
  }
  nav.NavBar2 > a {
    font-family: Montserrat;
    font-size: 18px;
    margin-bottom: 32px;
    font-weight: 500;
    line-height: 22px;
  }
  section.AboutBrand {
    flex-direction: column;
  }
  header {
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
  }
  header > h1 {
    width: 103px;
    height: 31px;
    font-family: Crimson Pro;
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  div.AboutContent > h1 {
    font-family: Lora;
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    margin-bottom: 25px;
  }
  div.AboutContent > p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 25px;
  }
  div.AboutContent > a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-decoration: none;
    color: #ffffff;
  }
  img.BrandImage {
    width: 90vw;
    height: auto;
    margin-top: 25px;
  }
  div.AboutImage {
    position: relative;
  }
  div.Creator {
    position: absolute;
    width: 300px;
    height: 138px;
    left: 30px;
    top: 80%;
    background: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  img.DesignerImage {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: auto;
    margin-left: 12px;
    float: left;
    margin-top: 10px;
  }
  div.CreatorProfile > p:nth-of-type(1) {
    font-family: Montserrat;
    font-size: 12px;
    margin-top: 20px;
    font-weight: 500;
    line-height: 15px;
  }
  div.CreatorProfile > p:nth-of-type(2) {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #828282;
  }
  div.Creator > p {
    font-family: Lora;
    font-size: 18px;
    clear: both;
    font-weight: 700;
    line-height: 23px;
    margin-top: 20px;
    margin-left: 12px;
    width: 214px;
    height: 45px;
  }
  footer {
    margin-top: 140px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
  }
}
