* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0px;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
section#Services > div > div:hover {
  box-shadow: 0px 10px 30px 0px #3333331a;
}
section#Services > div > div:hover button {
  background: #2d9cdb;
  color: #ffffff;
}
button:hover {
  cursor: pointer;
}

@media (min-width: 769px) {
  span.nav {
    display: none;
  }
  h2 {
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px;
    color: #333333;
  }
  header {
    margin: 50px 5vw 100px 5vw;
    display: flex;
    justify-content: space-between;
  }
  h1 {
    font-family: Heebo;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 53px;
    color: #333333;
  }
  header ul {
    display: flex;
    justify-content: space-between;
    min-width: 55vw;
  }
  header a {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
  }
  section#Home > p,
  section#Home > h2 {
    margin-left: 15vw;
  }
  section#Home > h2 {
    max-width: 40vw;
  }
  section#Home > p {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    color: #2d9cdb;
  }
  section#Home > img {
    margin: 40px 5vw 42px 5vw;
    width: 90vw;
    height: auto;
    border-radius: 18px;
  }

  section#Contact {
    margin-left: 15vw;
    max-width: 35vw;
  }
  section#Contact > h2 {
    margin-bottom: 42px;
  }
  section#Contact > p {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: #4f4f4f;
    margin-bottom: 42px;
  }
  section#Contact > form > label {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    color: #828282;
    margin-bottom: 12px;
    display: block;
  }
  section#Contact > form > input {
    display: inline-block;
    height: 50px;
    width: 20vw;
    border-radius: 12px;
    padding-left: 21px;
    background-color: #f2f2f2;
    border-style: none;
  }
  section#Contact > form > button {
    display: inline-block;
    width: 94px;
    height: 49px;
    background: #2d9cdb;
    border-radius: 12px;
    color: #f2f2f2;
    border-style: none;
  }
  ::placeholder {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    color: #bdbdbd;
  }
  section#Services {
    margin-top: 200px;
    margin-left: 8vw;
    margin-bottom: 194px;
    margin-right: 8vw;
  }
  section#Services > h2 {
    max-width: 35vw;
    margin-bottom: 42px;
  }
  section#Services > div {
    display: flex;
    justify-content: space-between;
  }
  section#Services > div > div {
    padding: 49px 34px 24px 47px;
    border-radius: 24px;
  }
  section#Services > div > div > p:first-of-type {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    color: #333333;
    margin-bottom: 24px;
  }
  section#Services > div > div > p:nth-of-type(2) {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #4f4f4f;
    margin-bottom: 39px;
  }
  section#Services > div > div > button {
    width: 116px;
    height: 42px;
    background: #e0e0e0;
    border-radius: 12px;
    border-style: none;
    margin-bottom: 46px;
    color: #828282;
  }
  section#Services > div > div > span {
    height: 67px;
    width: 67px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-bottom: 35px;
  }
  div.design,
  div.frontend,
  div.backend {
    max-width: 30%;
  }
  div.frontend > span {
    background-color: #27ae60;
  }
  div.backend > span {
    background-color: #eb5757;
  }
  div.design > span {
    background-color: #2d9cdb;
  }
  section#Works {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 200px;
  }
  section#Works > h2 {
    max-width: 40vw;
    margin-bottom: 42px;
  }
  section#Works > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  section#Works > div > div {
    min-width: 40%;
    margin-bottom: 100px;
  }
  section#Works > div > div > img {
    width: 30vw;
    border-radius: 12px;
    height: auto;
    margin-bottom: 20px;
  }
  section#Works > div > div > p:first-of-type {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    color: #828282;
  }
  section#Works > div > div > p:nth-of-type(2) {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
  }
  div.fullstack,
  div.mobile {
    margin-top: 10rem;
  }
  section#Works > p {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #2d9cdb;
  }
  section#Works > p > span {
    position: relative;
    top: 5px;
  }
  section#Team {
    margin-left: 8vw;
    margin-right: 8vw;
    display: flex;
    margin-bottom: 200px;
  }
  section#Team > div:first-of-type {
    max-width: 30vw;
  }
  section#Team > div > p:first-of-type {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    color: #eb5757;
  }
  section#Team > div > p:nth-of-type(2) {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #4f4f4f;
  }
  section#Team > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  section#Team img {
    border-radius: 24px;
  }
  img.person3 {
    grid-row: span 2;
    align-self: center;
  }
  section#Clients {
    margin: 0 8vw 0 8vw;
  }
  section#Clients > h2 {
    font-size: 36px;
    line-height: 54px;
    max-width: 60vw;
    margin-bottom: 32px;
  }
  section#Clients > img {
    border-radius: 24px;
    width: 100px;
    height: auto;
    float: left;
    margin-right: 16px;
  }
  section#Clients > p:first-of-type {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
    margin: 10px 0 5px 0px;
  }
  section#Clients > p:nth-of-type(2) {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    color: #828282;
  }

  footer {
    background-color: #100e1d;
    margin-top: 200px;
  }
  div.footer {
    padding: 46px 8vw 24px 8vw;
    display: flex;
    justify-content: space-between;
  }
  div.footer > ul {
    display: list-item;
  }
  div.footer a {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    color: #ffffff;
  }
  div.socialmedia > p {
    font-family: Heebo;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 53px;
    color: #f2f2f2;
  }
  footer label {
    display: block;
    margin-bottom: 10px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    color: #f2f2f2;
  }
  footer input {
    width: 350px;
    height: 57px;
    background: #f2f2f2;
    border-radius: 12px;
    border-style: none;
    padding-left: 21px;
  }
  footer button {
    color: #f2f2f2;
    background: #2d9cdb;
    border-radius: 12px;
    width: 94px;
    height: 49px;
    border-style: none;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
  }
  footer > p {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    color: #ffffff;
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  header {
    margin: 16px 16px 48px 16px;
    display: flex;
    justify-content: space-between;
  }
  h1 {
    font-family: Heebo;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 35px;
    color: #333333;
  }
  nav > ul {
    display: none;
    height: 100vh;
    width: 100vw;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    z-index: 10;
    background-color: #ffffff;
    top: 0;
    right: 0;
    background-color: #ffffff;
  }
  nav ul li {
    margin-bottom: 10px;
  }
  header nav ul a {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
    margin-bottom: 10px;
  }
  section#Home {
    margin: 0 32px 0 32px;
  }
  section#Home {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: #2d9cdb;
    margin-bottom: 32px;
  }
  section#Home > h2 {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
    max-width: 70vw;
    margin-bottom: 16px;
  }
  section#Home > img {
    width: 100%;
    height: auto;
    border-radius: 18px;
  }
  section#Contact {
    margin: 0 32px 32px 32px;
  }
  section#Contact > h2 {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
    max-width: 70vw;
    margin-bottom: 32px;
  }
  section#Contact > p {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #4f4f4f;
    margin-bottom: 32px;
  }
  section#Contact > form > label {
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    color: #828282;
    display: block;
    margin-bottom: 16px;
  }
  section#Contact > form > input {
    height: 47px;
    width: 50vw;
    border-radius: 12px;
    padding-left: 16px;
    border-style: none;
    background-color: #f2f2f2;
  }
  section#Contact > form > button {
    height: 39px;
    width: 71px;
    border-radius: 12px;
    color: #f2f2f2;
    background: #2d9cdb;
    border-style: none;
  }
  section#Services {
    margin: 32px 32px 32px 32px;
  }
  section#Services > h2 {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
    margin-bottom: 32px;
  }
  section#Services > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  section#Services > div > div {
    margin-bottom: 50px;
    border-radius: 24px;
    padding: 49px 16px 16px 16px;
  }
  section#Services > div > div > p:first-of-type {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    color: #333333;
    margin-bottom: 24px;
  }
  section#Services > div > div > p:nth-of-type(2) {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #4f4f4f;
    margin-bottom: 30px;
  }
  section#Services > div > div > button {
    height: 42px;
    width: 116px;
    border-radius: 12px;
    background-color: #e0e0e0;
    color: #828282;
    border-style: none;
  }
  section#Services > div > div > span {
    height: 67px;
    width: 67px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }
  div.design > span {
    background: #2d9cdb;
  }
  div.frontend > span {
    background: #27ae60;
  }
  div.backend > span {
    background: #eb5757;
  }
  section#Works {
    margin: 32px 32px 32px 32px;
  }
  section#Works > h2 {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
    margin-bottom: 48px;
  }
  section#Works > div {
    display: flex;
    flex-direction: column;
  }
  section#Works > div > div {
    margin-bottom: 32px;
  }
  section#Works > div > div > p:first-of-type {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    color: #828282;
  }
  section#Works > div > div > p:nth-of-type(2) {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    color: #333333;
  }
  section#Works > div > div > img {
    border-radius: 12px;
  }
  section#Works > p {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    color: #2d9cdb;
  }
  section#Works > p > span {
    position: relative;
    top: 5px;
  }
  section#Team {
    margin: 32px 32px 32px 32px;
  }
  section#Team > div > p:first-of-type {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    color: #eb5757;
  }
  section#Team > div > p:nth-of-type(2) {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #4f4f4f;
    margin-bottom: 36px;
  }
  section#Team > div > h2 {
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    color: #333333;
    margin: 5px 0 10px 0;
    max-width: 80vw;
  }
  section#Team > div.Members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
  }
  section#Team > div.Members > img {
    border-radius: 24px;
    width: 40vw;
  }
  img.person3 {
    grid-row: span 2;
    align-self: center;
  }
  section#Clients {
    margin: 32px 32px 32px 32px;
  }
  section#Clients > h2 {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
    margin-bottom: 16px;
  }
  section#Clients > img {
    float: left;
    width: 100px;
    border-radius: 24px;
    margin-right: 20px;
  }
  section#Clients > p:first-of-type {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
    margin-top: 20px;
  }
  section#Clients > p:nth-of-type(2) {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    color: #828282;
  }
  footer {
    background: #100e1d;
    padding: 32px 32px 32px 32px;
  }
  footer ul {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    color: #ffffff;
  }
  footer div.socialmedia {
    font-family: Heebo;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 53px;
    color: #f2f2f2;
    margin: 60px 0 60px 0;
  }
  footer form > label {
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    color: #828282;
    display: block;
    margin-bottom: 10px;
  }
  footer form > input {
    width: 180px;
    height: 47px;
    background: #f2f2f2;
    border-radius: 12px;
    border-style: none;
    padding-left: 16px;
  }
  footer form > button {
    width: 71px;
    height: 39px;
    background: #2d9cdb;
    border-radius: 12px;
    border-style: none;
    color: #f2f2f2;
  }
  footer > p {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    margin: 100px 0 32px 0;
    color: #f2f2f2;
  }
}
